@import 'tailwindcss';

html {
  overflow-y: scroll; /* Reserve vertical scrollbar to avoid layout shift */
}

/* Hide scrollbar for sidebar */
.sidebar-nav {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.sidebar-nav::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}